##############################
# DevKit Configuration
##############################

#
# Enter the kernel version you want to build
KernelVersion=2.4.13-oss-sgi

#
# For Deleting the Temporary Directories decomment the following line
# deleteBuildingDirectory=1

#
# For Deleting the source Directories decomment the following line
# deleteSourceDirectory=1

##############################
# $Log: XDev.config,v $
# Revision 1.1  2001/12/03 22:47:57  markinho
# kernel upgrade to 2.4.13 (oss-sgi-Version)
#
#
##############################